<section id="app">
  <a href="/"><- Voltar</a><br>
  <h1>{{post.Title}}</h1>
  <p>{{post.Content}}</p>
  <br>
  <h3>Comentários</h3>
  <ul >
    <!-- Utilize looping v-for do VueJs para exibir os comentários (título e conteúdo) de forma dinâmica -->
    <li v-for="item in comments">      
      <h5>{{item.UserName}}</h5>
      <p>{{item.Comment}}</p>
    </li>
  </ul>

  <div style="width: 100%; padding: 20px; align-items: start;">
    <form onsubmit="getNewComment" method="get">
        <div >
            <label for="nome" style="font-size:large; font-weight: bold; display: block;">Nome do usuário</label>
            <input style="width: 350px;" type="text" id="nome" name="name" placeholder="Digite seu nome:"/>
        </div>
        <p style="font-size: large; font-weight: bold;">Digite seu comentário abaixo:</p>
        <div>
            <textarea style="height: 120px; width: 350px; align-self:baseline;" rows="10" cols="20" id="comment" name="comment" ></textarea>
        </div>

        <div style="height: 100px;">
          <button type="submit" style="margin-right: 30px; color: blue;">Salvar</button>
          <button type="reset" style="color: red;">Cancelar</button>        
        </div >
    </form>
    
  </div>
</section>

<script>
  var http = axios.create({
    baseURL: "<%- apiUrl%>",
    timeout: 10000,
  });
  const postId = "<%- postId %>"

  var app = new Vue({
    el: "#app",
    data: {
      post: {},
      comments: [],
      nome: "",
      newComment: ""
    },
    methods: {
      loadPost() {
        http.get("/posts/" + postId).then((response) => {
          this.post = response.data;
        });
      },
      loadComments() {
        //TODO: Criar função que realiza a chamada na API retornando os comentários pelo id do post
        //para usar o id do post utilize a constate postId criada a cima
        http.get("/comment/" + postId).then((response) => {
          this.comments = response.data;
        });
      },
      //implementando o form de comentario
      getNewComment(){
        this.nome = document.getElementById("nome");
        this.newComment = document.getElementById("comment")
        if (this.nome != "") {
          console.log(this.nome);
        } else {
          console.log("Erro")
        }
      }

    },
    mounted() {
      this.loadPost();
      //TODO: Faça a chamada da função que carrega os comentários
      this.loadComments();
    },
  });
</script>