<section style="width: 100%; padding: 20px; align-items: start;">
    <form method="post">
        <div >
            <label for="nome" style="font-size:large; font-weight: bold;">Nome do usuário</label>
            <input type="text" id="nome" name="name" placeholder="Digite seu nome:"/>
        </div>
        <p style="font-size: large; font-weight: bold;">Digite seu comentário abaixo:</p>
        <div>
            <textarea style="height: 120px; width: 350px; align-self:baseline;" rows="10" cols="20" id="comment" name="comment" ></textarea>
        </div>
    </form>
    <div style="height: 100px;">
        <button type="submit" style="margin-right: 30px; color: blue;">Salvar</button>
        <button type="submit" style="color: red;">Cancelar</button>        
    </div >
</section>